__pycache__/
.idea/
dataset/
#tests/
logger/
main/

model/
models/
model*/
models*/

*.pt
*.pth

events.out.tfevents.*

third_party/
thirdparty/
*.egg-info

build
dist

.benchmarks/
logs/
.pytest_cache/

tests/*.jpg
tests/*.png
tests/*.bmp
