pyyaml
matplotlib>=3.8.3
tqdm
scipy>=1.12.0
pypiwin32
Cython>=3.0.0
pytest>=6.2.4
pytest-benchmark>=3.4.1
pyclibrary>=0.1.7
numpy>=1.21.6  # onnxruntime required
pillow>=10.3.0
cuda-python==12.8.0
### cuda-python 11.8.6
# See: https://github.com/NVIDIA/cuda-python/
#      https://github.com/NVIDIA/cuda-python/archive/refs/tags/v11.8.6.zip
#      https://nvidia.github.io/cuda-python/latest/release/11.8.6-notes.html
#      new version:
#      https://nvidia.github.io/cuda-python/cuda-bindings/latest/overview.html
tensorrt>=8.6.1  # Optional require: onnxruntime==1.8.1 when python_version<"3.10"; onnxruntime==1.12.1 when python_version=="3.10"
# tensorrt 8.6.1 install from:
#      https://developer.nvidia.com/tensorrt
#      TensorRT-8.6.1.6\python\tensorrt-8.6.1-cp310-none-win_amd64.whl
onnxruntime>=1.21.0
onnx>=1.17.0
onnx-graphsurgeon>=0.3.12
# onnx-graphsurgeon 0.3.12 install from:
#      TensorRT-8.6.1.6\onnx_graphsurgeon\onnx_graphsurgeon-0.3.12-py2.py3-none-any.whl